doctype html
block begin
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=1024')
    meta(http-equiv='Accept-CH', content='Viewport-Width')
    // Dexecure
    title CodeCombat - Learn how to code by playing a game
    meta(name='description', content='Learn programming with a multiplayer live coding strategy game for beginners. Learn Python or JavaScript as you defeat ogres, solve mazes, and level up. Open source HTML5 game!')
    link(rel='shortcut icon', href='/images/favicon.ico')
    link(rel='stylesheet', href='/' + shaTag + '/stylesheets/app.css')
    script.
      var DEXECURE_URL = "/dexecure-c167a5675c.js";
      "serviceWorker"in navigator&&navigator.serviceWorker.register(DEXECURE_URL,{scope:'/'}).then(function(e){"/"!=new URL(e.scope).pathname&&console.log("Service worker scope is not /")})["catch"](function(e){console.log("Unable to register service worker.");console.log(e)});
    script.
      window.javascriptsPath = '/#{shaTag}/javascripts/';
    if chunkPaths[viewName]
      script(src=chunkPaths[viewName], defer='')
    script(src='/' + shaTag + '/javascripts/app.js', defer='', async='', data-ace-base='/javascripts/ace') // This data tag needs to be on SOME script with a src for Ace to work
    script(src='/user-data?sha=' + shaTag)

    script(src='https://checkout.stripe.com/checkout.js')
    // CodePlay Tags Header
    
    // Webpack-inserted CSS:
    //- (will be inserted at runtime)

    block setup
    block script-start
      script.
        //- This runs for pages without specific static templates
        //- Those pages with static templates run this themselves (in mock.static.pug),
        //-   after setting window.alreadyLoadedView
        function onLoad() {
          try {
              // IE10 warning
              var htmlElement = document.querySelector("html");
              if (htmlElement) {
                  if ($.browser.msie && $.browser.versionNumber < 11) {
                      if ((window.location.pathname || "").indexOf("web-dev-level") < 0) {
                          alert("CodeCombat does not run in Internet Explorer 10 or older. Sorry!");
                      }
                  }
              }
              // IE8 can't handle this
              FastClick.attach(document.body);
          } catch (error) { }
        }
  body.clearfix(onload='onLoad();')
    #fb-root
    block content
    #modal-wrapper.modal-content.hide
    // CodePlay Tags Footer
